<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= state.config.github_organisation %> CI Orchestrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/x-icon" href="https://brew.sh/assets/img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="container-xxl flex-wrap">
        <div class="navbar-brand">
          <img src="https://brew.sh/assets/img/brewtestbot.svg" alt="" width="48" height="48" class="d-inline-block me-1">
          <span class="align-middle"><%= state.config.github_organisation %> CI Orchestrator</span>
        </div>
        <ul class="navbar-nav flex-fill">
          <li class="nav-item flex-fill text-nowrap text-end">
            <span>Logged in as <%= username %></span>
          </li>
        </ul>
      </div>
    </nav>
    <main class="container-xxl py-3">
      <div class="row row-cols-lg-2" style="--bs-gutter-x: 0.75rem; row-gap: 0.75rem">
        <div class="col-lg">
          <div class="card p-3 h-100">
            <h5>Jobs</h5>
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Runner Name</th>
                    <th>GH State</th>
                    <th>Orka VM ID</th>
                    <th>Set up?</th>
                  </tr>
                </thead>
                <tbody>
                  <% state.jobs.each do |job| %>
                  <tr>
                    <td><a href="https://github.com/<%= state.config.github_organisation %>/<%= job.repository %>/actions/runs/<%= job.run_id %>/attempts/<%= job.run_attempt %>"><%= job.runner_name %></a></td>
                    <td><%= job.github_state.to_s.split("_").map(&:capitalize).join(" ") %></td>
                    <td><%= job.orka_vm_id %></td>
                    <td><%= job.orka_setup_timeout? ? "◷" : (job.orka_setup_complete? ? "✓" : "✖") %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <% state.thread_runners.each do |runner| %>
        <div class="col-lg">
          <div class="card p-3 h-100">
            <div style="display: flex">
              <h5 class="flex-fill lh-base mb-3"><%= runner.name %></h5>
              <% if runner.pausable? %>
              <% if runner.paused? %>
              <form action="/unpause" method="post">
                <input type="hidden" name="thread_runner" value="<%= runner.name %>">
                <button type="submit" class="btn btn-success">Unpause</button>
              </form>
              <% else %>
              <form action="/pause" method="post">
                <input type="hidden" name="thread_runner" value="<%= runner.name %>">
                <button type="submit" class="btn btn-danger">Pause</button>
              </form>
              <% end %>
              <% end %>
            </div>
            <pre class="mb-0 d-flex flex-column-reverse" style="max-height: 15em; font-size: 75%"><% runner.log_history.each { |event| %><%= h event.to_s + "\n" %><% } %></pre>
          </div>
        </div>
        <% end %>
        <div class="col-lg">
          <div class="card p-3 h-100">
            <h5>GitHub Runner Metadata</h5>
            <h6>Downloads</h6>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Archive</th>
                    <th>OS</th>
                    <th>Arch</th>
                  </tr>
                </thead>
                <tbody>
                  <% state.github_runner_metadata.download_urls&.each do |os, arch_map| %>
                  <% arch_map.each do |arch, url_data| %>
                  <tr>
                    <%
                      basename = begin
                        File.basename(URI.parse(url_data[:url]).path)
                      rescue URI::InvalidURIError
                        "(parse error)"
                      end
                    %>
                    <td><a href="<%= url_data[:url] %>"><%= basename %></a></td>
                    <td><%= os %></td>
                    <td><%= arch %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <p class="mb-0">
              <small><strong>Last retrieved:</strong> <%= state.github_runner_metadata.download_fetch_time || "Never" %></small>
            </p>
          </div>
        </div>
        <div class="col-lg">
          <div class="card p-3 h-100">
            <h5>Pause</h5>
            <% pausable_count = state.thread_runners.count { |runner| runner.pausable? } %>
            <% paused_count = state.thread_runners.count { |runner| runner.pausable? && runner.paused? } %>
            <% if paused_count == pausable_count %>
            <p>Queue is currently <span class="text-danger">paused</span>.</p>
            <form action="/unpause" method="post">
              <button type="submit" class="btn btn-success">Unpause all</button>
            </form>
            <% elsif paused_count > 0 %>
            <p>Queue is currently <span class="text-warning">partially paused</span>.</p>
            <% else %>
            <p>Queue is currently <span class="text-success">running</span>.</p>
            <form action="/pause" method="post">
              <button type="submit" class="btn btn-danger">Pause all</button>
            </form>
            <p class="mb-0 mt-3">Pausing will not interrupt VMs mid-deployment. Please allow a few minutes for all Orka API operations to cease.</p>
            <% end %>
          </div>
        </div>
      </div>
      <footer class="mt-3">
        <p class="text-end">
          <small>Page generated at <%= Time.now %></small>
        </p>
      </footer>
    </main>
  </body>
</html>
